This is a quick test to make sure it syncs to Github.

In [ ]:
x = 2
y = 5

print(x*y)

10

In [ ]:
a = "hello"
print(a * 2.5)

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
string = "hello"
integer = 1
float = 5.5
bool = True
list = [1, 2, 3, "a", "b", "c"]
dictionary = {"name": "John", "age": 44}

print(string, integer, float, bool, list, dictionary)
print(list[0])
print(dictionary['name'])

hello 1 5.5 True [1, 2, 3, 'a', 'b', 'c'] {'name': 'John', 'age': 44}
1
John

In [ ]:
list = [1, 2, 3, "a", "b", "c"]
dictionary = {"name": "John", "age": 44}
listdict = [{"name": "Tony", "age": 18},{"name": "Jane", "age": 67}]

print(list[0])
print(dictionary["name"])
print(listdict[0]["name"])

1
John
Tony

In [ ]:
a = 10
A = 11

print(a)

10