<a href="https://colab.research.google.com/github/Cromana22/Google-Colab-Examples/blob/main/Example-Notebook-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a quick test to make sure it syncs to Github.

In [12]:
for i in range(3):
    for j in range(i):
      print(i * j, end=" ")

0 0 2

i = 0, 1, 2
inside i loops j

i=0 --> j=null
0*null = null (blank)

i=1 --> j=0
1*0 = 0

i=2 --> j=0, 1
2*0 = 0
2*1 = 2

In [ ]:
x = 2
y = 5

print(x*y)

10

In [ ]:
a = "hello"
print(a * 2.5)

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
string = "hello"
integer = 1
float = 5.5
bool = True
list = [1, 2, 3, "a", "b", "c"]
dictionary = {"name": "John", "age": 44}

print(string, integer, float, bool, list, dictionary)
print(list[0])
print(dictionary['name'])

hello 1 5.5 True [1, 2, 3, 'a', 'b', 'c'] {'name': 'John', 'age': 44}
1
John

In [ ]:
list = [1, 2, 3, "a", "b", "c"]
dictionary = {"name": "John", "age": 44}
listdict = [{"name": "Tony", "age": 18},{"name": "Jane", "age": 67}]

print(list[0])
print(dictionary["name"])
print(listdict[0]["name"])

1
John
Tony

In [ ]:
a = 10
A = 11

print(a)

10